
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.resume{
    background-color: rgb(215, 224, 214);
    margin: 70px 340px;
    padding: 30px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


#heading{
    margin-top: 30px;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
  
}

.description{
    display: flex;
    justify-content: right;
}

.email{
    color: blue;
    font-size: small;
    text-align: center;
    text-decoration: underline;
}

.contact{
   
    color: black;
    text-decoration: none;
}

.summary{
    margin-top: 20px;
    font-size: 13px;
    color: black;
    font-weight: 600;
}

.tit{
    background-color: rgb(108, 108, 154);
}

.head{
    color: blue;
    margin-top: 20px;
    margin-bottom: 5px;
    
    border-bottom:2px solid rgb(17, 7, 7);
    font-weight: 800;
}

.deo{
    font-weight: 700;
    margin: 3px;
}

.year{
    color: rgb(14, 13, 13);
   text-align-last: center;
   margin-left: 30px;
}

.years{
    color: rgb(14, 13, 13);
   text-align-last: center;
   margin-left: 314px;
}

.yearss{
    color: rgb(14, 13, 13);
   text-align-last: center;
   margin-left: 290px;
}

.desc{
    font-size: 15px;
    margin-left: 15PX;
}


.intern{
    text-decoration: none;
    font-weight: 200;
}